---
interface Props {
    label: string;
    primary?: boolean;
}

const { label, primary } = Astro.props;
---

<a
    href="#"
    class:list={[
        'px-3 py-1 rounded-md transition-colors text-sm font-semibold',
        {
            'bg-white text-dark hover:bg-white/80': primary,
            'text-white hover:bg-white/10': !primary
        }
    ]}>
    {label}
</a>